package $!{classPackage}.entity;

import java.io.Serializable;
import java.util.Date;
import java.math.BigDecimal;
import com.alibaba.fastjson.JSONObject;
import com.alibaba.fastjson.annotation.JSONField;

/**
 * $!{comment}实体类
 * 
 * @author $!{authorName}
 * @email  $!{authorEmail}
 * @date   $!{createTime}
 */
public class $!{className} implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach ($!{field} in $!{fields})
#if($!{field.type} == "String") #set ($vale=$!{field.filedDefault})
#elseif($!{field.type} == "Integer") #set ($vale=$!{field.filedDefault})
#elseif($!{field.type} == "Long") #set ($vale=$!{field.filedDefault}+"L")
#elseif($!{field.type} == "Float") #set ($vale=$!{field.filedDefault}+"F")
#elseif($!{field.type} == "Double") #set ($vale=$!{field.filedDefault}+"D")
#elseif($!{field.type} == "BigDecimal") #set ($vale="new BigDecimal($!{field.filedDefault})")
#end
    /**
	 * $!{field.entityName} $!{field.comment}
	 */
#if($!{field.type} == "Date")
    @JSONField(name="$!{field.columnName}", format="yyyy-MM-dd HH:mm:ss")
#else
	@JSONField(name="$!{field.columnName}")
#end
	private $!{field.type} $!{field.entityName}#if($!{field.filedDefault} != "null") = #if($!{field.type} == "String")"$!{vale}"#else$!{vale}#end#end;

#end
#foreach ($!{field} in $!{fields})
	public void set$!{field.filedName}($!{field.type} $!{field.entityName}) {
		this.$!{field.entityName} = $!{field.entityName};
	}

	public $!{field.type} get$!{field.filedName}() {
	    return $!{field.entityName};
	}

#end
    @Override
    public String toString() {
        return JSONObject.toJSONString(this);
    }
}
