package $!{classPackage}.repository;

import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;
import java.util.List;

import $!{classPackage}.entity.$!{className};

/**
 * $!{comment}数据持久层接口
 *
 * @author $!{authorName}
 * @email  $!{authorEmail}
 * @date   $!{createTime}
 */
@Mapper
public interface $!{className}Repository {

    /**
     * 增加$!{comment}实例
     *
     * @param $!{entityName} $!{comment}实例
     * @return int 成功数量
     */
    int save$!{className}($!{className} $!{entityName});

    /**
     * 获取所有$!{comment}
     *
     * @return List<$!{className}> $!{comment}主键集合
     */
    List<$!{className}> list$!{className}();

    /**
     * 根据条件获取多条$!{comment}
     *
     * @param $!{entityName} $!{comment}列:做条件查询使用
     * @return List<$!{className}> $!{comment}列集合
     */
    List<$!{className}> list$!{className}ByParam($!{className} $!{entityName});

    /**
     * 根据条件删除多条$!{comment}实例
     *
     * @param $!{entityName} $!{comment}实例:做条件删除使用
     * @return int 成功数量
     */
    int delete$!{className}ByParam($!{className} $!{entityName});

#if($keyFields.size() > 0)
    /**
     * 根据主键修改$!{comment}
     *
     * @param $!{entityName} $!{comment}列信息
     * @return int 成功数量
     */
    int update$!{className}ByKey($!{className} $!{entityName});

    /**
     * 根据主键获取$!{comment}
     *
#foreach(${field} in ${keyFields})
     * @param $!{field.entityName} $!{field.comment}
#end
     * @return $!{className} $!{comment}信息
     */
    $!{className} get$!{className}ByKey(#foreach(${field} in ${keyFields})#if($velocityCount == 1)@Param("$!{field.entityName}")$!{field.type} $!{field.entityName}#else, @Param("$!{field.entityName}")$!{field.type} $!{field.entityName}#end#end);

    /**
     * 根据主键删除$!{comment}
     *
#foreach(${field} in ${keyFields})
    * @param $!{field.entityName} $!{field.comment}
#end
     * @return int 成功数量
     */
    int delete$!{className}ByKey(#foreach(${field} in ${keyFields})#if($velocityCount == 1)@Param("$!{field.entityName}")$!{field.type} $!{field.entityName}#else, @Param("$!{field.entityName}")$!{field.type} $!{field.entityName}#end#end);
#end

}
