package $!{classPackage}.repository.impl;

import java.io.Serializable;

import java.lang.reflect.ParameterizedType;
import java.util.ArrayList;
import java.util.List;

import org.hibernate.Session;
import org.hibernate.SessionFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.transaction.annotation.Transactional;

import $!{classPackage}.repository.AbstractRepository;

/**
 * $!{comment}数据访问基础类
 *
 * @author $!{authorName}
 * @email  $!{authorEmail}
 * @date   $!{createTime}
 */
@Transactional    // @Transactional注解可以被继承，即对子类也有效
@SuppressWarnings("unchecked")
public abstract class AbstractRepositoryImpl<T, PK extends Serializable> implements AbstractRepository<T, PK> {

    protected final Class<T> persistentClass;

    @Autowired
    private SessionFactory sessionFactory;

    public AbstractRepositoryImpl(){
        ParameterizedType pt = (ParameterizedType) this.getClass().getGenericSuperclass();
        this.persistentClass = (Class) pt.getActualTypeArguments()[0];
    }

    protected Session getSession(){
        return sessionFactory.getCurrentSession();
    }

    @Override
    public int save(T entity) {
        getSession().save(entity);
        return 1;
    }

    @Override
    public int saveBatch(List<T> entityList) {
        int successNum = 0;
        for(T entity : entityList) {
            getSession().save(entity);
            successNum++;
        }
        return successNum;
    }

    @Override
    public int delete(PK pk) {
        Object obj = getSession().get(persistentClass, pk);
        getSession().delete(obj);
        return 1;
    }

    @Override
    public int deleteBatch(List<PK> pkList) {
        int successNum = 0;
        for(PK pk : pkList) {
            Object obj = getSession().get(persistentClass, pk);
            getSession().delete(obj);
            successNum++;
        }
        return successNum;
    }

    @Override
    public int saveAndFlush(T entity) {
        getSession().update(entity);
        return 1;
    }

    @Override
    public int saveAndFlushBatch(List<T> entityList) {
        int successNum = 0;
        for(T entity : entityList) {
            getSession().update(entity);
            successNum++;
        }
        return successNum;
    }

    @Override
    public T getOne(PK key) {
        return (T) getSession().get(persistentClass, key);
    }

    @Override
    public List<T> listByKey(List<PK> keyList) {
        List<T> entityList = new ArrayList<>();
        for(PK key : keyList) {
            entityList.add((T) getSession().get(persistentClass, key));
        }
        return entityList;
    }

}
