package $!{classPackage}.repository;

import org.springframework.beans.factory.annotation.Qualifier;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;
import org.springframework.transaction.annotation.Transactional;

import javax.persistence.Table;
import java.util.List;
import java.util.Date;
import java.math.BigDecimal;

import $!{classPackage}.entity.$!{className};
#if($keyFields.size() > 1)
import $!{classPackage}.entity.$!{className}PK;
#end

/**
 * $!{comment}实体类
 *
 * @author $!{authorName}
 * @email  $!{authorEmail}
 * @date   $!{createTime}
 */
@Repository
@Table(name="$!{tableName}")
@Qualifier("$!{entityName}Repository")
public interface $!{className}Repository extends JpaRepository<$!{className},#if($keyFields.size() == 1) $!{keyFields.get(0).type}#elseif($keyFields.size() > 1) $!{className}PK#end> {

#foreach ($!{field} in $!{noKeyFields})
#if($!{field.type} != "Date")
    /**
     * 根据$!{field.comment}获取信息
     *
     * @param $!{field.entityName} $!{field.comment}
     * @return List<$!{className}> $!{comment}集合
     */
    List<$!{className}> findBy$!{field.filedName}($!{field.type} $!{field.entityName});

    /**
     * 根据$!{field.comment}模糊匹配获取分页信息
     *
     * @param $!{field.entityName} $!{field.comment}
     * @param pageable 分页信息
     * @return Page<$!{className}> $!{comment}分页信息
     */
    Page<$!{className}> findBy$!{field.filedName}Contains($!{field.type} $!{field.entityName}, Pageable pageable);

    /**
     * 根据$!{field.comment}删除信息
     *
     * @param $!{field.entityName} $!{field.comment}
     */
    @Transactional
    void deleteBy$!{field.filedName}($!{field.type} $!{field.entityName});
#end
#end

}
