package $!{classPackage}.repository.impl;

#if($keyFields.size() > 1)
import $!{classPackage}.entity.$!{className}PK;
#end
import $!{classPackage}.entity.$!{className};
import $!{classPackage}.service.impl.$!{className}ServiceImpl;
import $!{classPackage}.repository.$!{className}Repository;
import $!{classPackage}.util.PageInfoUtil;
import org.apache.log4j.Logger;
import org.hibernate.SQLQuery;
import org.springframework.stereotype.Repository;
import org.springframework.transaction.annotation.Transactional;

import java.util.List;
import java.util.Date;

/**
 * $!{comment}数据访问类
 *
 * @author $!{authorName}
 * @email  $!{authorEmail}
 * @date   $!{createTime}
 */
@Repository
@Transactional
#if($keyFields.size() > 1)
public class $!{className}RepositoryImpl extends AbstractRepositoryImpl<$!{className}, $!{className}PK> implements $!{className}Repository {
#elseif($keyFields.size() == 1)
public class $!{className}RepositoryImpl extends AbstractRepositoryImpl<$!{className}, $!{keyFields.get(0).type}> implements $!{className}Repository {
#end

    private static final Logger LOGGER = Logger.getLogger($!{className}ServiceImpl.class);

    private static final String FIELD = "#foreach($!{field} in $!{fields})#if($velocityCount == 1)#else, #end$!{field.columnName}#end";

    @Override
    public List<$!{className}> findAll() {
        String sql = "SELECT "+FIELD+" FROM $!{tableName}";
        SQLQuery query = getSession().createSQLQuery(sql).addEntity(persistentClass);
        return query.list();
    }

    @Override
    public PageInfoUtil<$!{className}> findAllByPage(int pageNum, int pageSize) {
        int total = findAll().size();
        String sql = "SELECT "+FIELD+" FROM $!{tableName}";
        SQLQuery query = getSession().createSQLQuery(sql).addEntity(persistentClass);
        query.setFirstResult((pageNum - 1) * pageSize);
        query.setMaxResults(pageSize);
        return new PageInfoUtil(query.list(), pageNum, pageSize, total);
    }

#foreach ($!{field} in $!{noKeyFields})
#if($!{field.type} != "Date")
    @Override
    public List<$!{className}> findBy$!{field.filedName}($!{field.type} $!{field.entityName}) {
        String sql = "SELECT "+FIELD+" FROM $!{tableName} WHERE $!{field.columnName} like '%"+$!{field.entityName}+"%'";
        SQLQuery query = getSession().createSQLQuery(sql).addEntity(persistentClass);
        return query.list();
    }

    @Override
    public PageInfoUtil<$!{className}> findBy$!{field.filedName}Contains($!{field.type} $!{field.entityName}, int pageNum, int pageSize) {
        int total = findBy$!{field.filedName}($!{field.entityName}).size();
        String sql = "SELECT "+FIELD+" FROM $!{tableName} WHERE $!{field.columnName} like '%"+$!{field.entityName}+"%'";
        SQLQuery query = getSession().createSQLQuery(sql).addEntity(persistentClass);
        query.setFirstResult((pageNum - 1) * pageSize);
        query.setMaxResults(pageSize);
        return new PageInfoUtil(query.list(), pageNum, pageSize, total);
    }

    @Override
    public int deleteBy$!{field.filedName}($!{field.type} $!{field.entityName}) {
        String sql = "DELETE FROM $!{tableName} WHERE $!{field.columnName}=:$!{field.entityName}";
        return getSession().createSQLQuery(sql).set$!{field.type}("$!{field.entityName}", $!{field.entityName}).executeUpdate();
    }

#end
#end

}
