package $!{classPackage}.entity;

import java.io.Serializable;
import java.util.Date;
import java.math.BigDecimal;
import com.alibaba.fastjson.JSONObject;
import com.alibaba.fastjson.annotation.JSONField;

import javax.persistence.*;

/**
 * $!{comment}实体类
 * 
 * @author $!{authorName}
 * @email  $!{authorEmail}
 * @date   $!{createTime}
 */
@Entity
@Table(name="$!{tableName}")
public class $!{className} implements Serializable {

    private static final long serialVersionUID = 1L;

#if($keyFields.size() > 1)
	/**
	 * $!{entityName}PK 联合主键
	 */
	@EmbeddedId
	private $!{className}PK $!{entityName}PK;

	public void set$!{className}PK($!{className}PK $!{entityName}PK){
        this.$!{entityName}PK = $!{entityName}PK;
    }

	public $!{className}PK get$!{className}PK(){
        return $!{entityName}PK;
    }
#end

#if($keyFields.size() == 1)
	/**
	 * $!{keyFields.get(0).entityName} $!{keyFields.get(0).comment}
	 */
	@Id
#if($!{isAutoIncr})
    @GeneratedValue(strategy= GenerationType.AUTO)
#end
	@Column(name="$!{keyFields.get(0).columnName}")
	@JSONField(name="$!{keyFields.get(0).columnName}")
	private $!{keyFields.get(0).type} $!{keyFields.get(0).entityName};

	public void set$!{keyFields.get(0).filedName}($!{keyFields.get(0).type} $!{keyFields.get(0).entityName}) {
        this.$!{keyFields.get(0).entityName} = $!{keyFields.get(0).entityName};
	}

	public $!{keyFields.get(0).type} get$!{keyFields.get(0).filedName}() {
        return $!{keyFields.get(0).entityName};
	}
#end

#foreach ($!{field} in $!{noKeyFields})
#if($!{field.type} == "String") #set ($vale=$!{field.filedDefault})
#elseif($!{field.type} == "Integer") #set ($vale=$!{field.filedDefault})
#elseif($!{field.type} == "Long") #set ($vale=$!{field.filedDefault}+"L")
#elseif($!{field.type} == "Float") #set ($vale=$!{field.filedDefault}+"F")
#elseif($!{field.type} == "Double") #set ($vale=$!{field.filedDefault}+"D")
#elseif($!{field.type} == "BigDecimal") #set ($vale="new BigDecimal($!{field.filedDefault})")
#end
	/**
	 * $!{field.entityName} $!{field.comment}
	 */
#if($!{field.type} == "Date")
    @JSONField(name="$!{field.columnName}", format="yyyy-MM-dd HH:mm:ss")
#else
    @JSONField(name="$!{field.columnName}")
#end
	@Column(name="$!{field.columnName}")
	private $!{field.type} $!{field.entityName}#if($!{field.filedDefault} != "null") = #if($!{field.type} == "String")"$!{vale}"#else$!{vale}#end#end;

	public void set$!{field.filedName}($!{field.type} $!{field.entityName}) {
        this.$!{field.entityName} = $!{field.entityName};
	}

	public $!{field.type} get$!{field.filedName}() {
        return $!{field.entityName};
	}
#end

    @Override
    public String toString() {
        return JSONObject.toJSONString(this);
    }

}
