package $!{classPackage}.repository;

#if($keyFields.size() > 1)
import $!{classPackage}.entity.$!{className}PK;
#end
import $!{classPackage}.entity.$!{className};
import $!{classPackage}.util.PageInfoUtil;

import java.util.List;
import java.util.Date;
import java.math.BigDecimal;

/**
 * $!{comment}数据访问类
 *
 * @author $!{authorName}
 * @email  $!{authorEmail}
 * @date   $!{createTime}
 */
public interface $!{className}Repository extends AbstractRepository<$!{className}, #if($keyFields.size() > 1)$!{className}PK#elseif($keyFields.size() == 1)$!{keyFields.get(0).type}#end> {

    /**
     * 根据表中所有列信息
     *
     * @return List<$!{className}> $!{comment}列信息
     */
    List<$!{className}> findAll();

    /**
     * 根据分页信息表中所有列信息
     *
     * @param pageNum 第几页
     * @param pageSize 每页数量
     * @return List<$!{className}> $!{comment}列信息
     */
    PageInfoUtil<$!{className}> findAllByPage(int pageNum, int pageSize);

#foreach ($!{field} in $!{noKeyFields})
#if($!{field.type} != "Date")
    /**
     * 根据$!{field.comment}获取信息
     *
     * @param $!{field.entityName} $!{field.comment}
     * @return List<$!{className}> $!{comment}集合
     */
    List<$!{className}> findBy$!{field.filedName}($!{field.type} $!{field.entityName});

    /**
     * 根据$!{field.comment}模糊匹配获取分页信息
     *
     * @param $!{field.entityName} $!{field.comment}
     * @param pageNum 第几页
     * @param pageSize 每页数量
     * @return Page<$!{className}> $!{comment}分页信息
     */
    PageInfoUtil<$!{className}> findBy$!{field.filedName}Contains($!{field.type} $!{field.entityName}, int pageNum, int pageSize);

    /**
     * 根据$!{field.comment}删除信息
     *
     * @param $!{field.entityName} $!{field.comment}
     */
    int deleteBy$!{field.filedName}($!{field.type} $!{field.entityName});
#end
#end

}
