<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingye.repository.BuildingInfoRepository">

    <!-- 数据库字段 -->
    <sql id="buildingInfoFields">
        bd_admin_id
        , bd_id
        , bd_kind_id
        , bd_head
        , id
        , bd_area
        , bd_note
    </sql>

    <!-- 对象属性 -->
    <parameterMap id="buildingInfoParameterMap" type="com.jingye.entity.BuildingInfo">
        <parameter property="bdAdminId"/>
        <parameter property="bdId"/>
        <parameter property="bdKindId"/>
        <parameter property="bdHead"/>
        <parameter property="id"/>
        <parameter property="bdArea"/>
        <parameter property="bdNote"/>
    </parameterMap>

    <!-- 数据库字段与对象属性映射 -->
    <resultMap id="buildingInfoResultMap" type="com.jingye.entity.BuildingInfo">
        <result property="bdAdminId" column="bd_admin_id" />
        <result property="bdId" column="bd_id" />
        <result property="bdKindId" column="bd_kind_id" />
        <result property="bdHead" column="bd_head" />
        <result property="id" column="id" />
        <result property="bdArea" column="bd_area" />
        <result property="bdNote" column="bd_note" />
    </resultMap>

    <!-- 增加 -->
    <insert id="saveBuildingInfo" parameterMap="buildingInfoParameterMap" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
          building_info( <include refid="buildingInfoFields"/> )
        VALUES ( ? , ? , ? , ? , ? , ? , ?);
    </insert>

    <!-- 增加多条 -->
    <insert id="saveBatchBuildingInfo" parameterType="java.util.List">
        INSERT INTO
          building_info( <include refid="buildingInfoFields"/> )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
              #{item.bdAdminId}
              ,#{item.bdId}
              ,#{item.bdKindId}
              ,#{item.bdHead}
              ,#{item.id}
              ,#{item.bdArea}
              ,#{item.bdNote}
            )
        </foreach>
        ;
    </insert>

    <!-- 获取所有 -->
    <select id="listBuildingInfo" resultMap="buildingInfoResultMap">
        SELECT
          <include refid="buildingInfoFields"/>
        FROM building_info
        ORDER BY
           id DESC    </select>

    <!-- 根据条件获取多条 -->
    <select id="listBuildingInfoByParam" parameterType="java.util.Map" resultMap="buildingInfoResultMap">
        SELECT
          <include refid="buildingInfoFields"/>
        FROM building_info
        <where>
           <if test="bdAdminId != null and bdAdminId != ''"> AND bd_admin_id=#{bdAdminId} </if>
           <if test="bdId != null and bdId != ''"> AND bd_id=#{bdId} </if>
           <if test="bdKindId != null and bdKindId != ''"> AND bd_kind_id=#{bdKindId} </if>
           <if test="bdHead != null and bdHead != ''"> AND bd_head=#{bdHead} </if>
           <if test="id != null and id != ''"> AND id=#{id} </if>
           <if test="bdArea != null and bdArea != ''"> AND bd_area=#{bdArea} </if>
           <if test="bdNote != null and bdNote != ''"> AND bd_note=#{bdNote} </if>
        </where>
        ORDER BY
           id DESC    </select>

    <!-- 根据条件删除多条 -->
    <delete id="deleteBuildingInfoByParam" parameterMap="buildingInfoParameterMap">
        DELETE FROM building_info
        <where>
          <if test="bdAdminId != null and bdAdminId != ''"> AND bd_admin_id=#{bdAdminId} </if>
          <if test="bdId != null and bdId != ''"> AND bd_id=#{bdId} </if>
          <if test="bdKindId != null and bdKindId != ''"> AND bd_kind_id=#{bdKindId} </if>
          <if test="bdHead != null and bdHead != ''"> AND bd_head=#{bdHead} </if>
          <if test="id != null and id != ''"> AND id=#{id} </if>
          <if test="bdArea != null and bdArea != ''"> AND bd_area=#{bdArea} </if>
          <if test="bdNote != null and bdNote != ''"> AND bd_note=#{bdNote} </if>
        </where>
        ;
    </delete>


    <!-- 根据主键修改 -->
    <update id="updateBuildingInfoByKey" parameterMap="buildingInfoParameterMap">
        UPDATE
          building_info
        <trim prefix="SET" prefixOverrides=",">
          <if test="bdAdminId != null">, bd_admin_id=#{bdAdminId}</if>
          <if test="bdId != null">, bd_id=#{bdId}</if>
          <if test="bdKindId != null">, bd_kind_id=#{bdKindId}</if>
          <if test="bdHead != null">, bd_head=#{bdHead}</if>
          <if test="id != null">, id=#{id}</if>
          <if test="bdArea != null">, bd_area=#{bdArea}</if>
          <if test="bdNote != null">, bd_note=#{bdNote}</if>
        </trim>
        <where>
          AND id=#{id}
        </where>
        ;
    </update>

    <!-- 根据主键获取 -->
    <select id="getBuildingInfoByKey" parameterType="java.util.Map" resultMap="buildingInfoResultMap">
        SELECT
          <include refid="buildingInfoFields"/>
        FROM building_info
        <where>
          AND id=#{id}
        </where>
    </select>

    <!-- 根据主键删除 -->
    <delete id="deleteBuildingInfoByKey" parameterType="java.util.Map">
        DELETE FROM building_info
        <where>
          AND id=#{id}
        </where>
        ;
    </delete>

    <!-- 根据多个主键删除多条 -->
    <delete id="deleteBatchBuildingInfoByKey" parameterType="java.util.List">
        DELETE FROM building_info
          WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
        ;
    </delete>

    <!-- 根据多个主键获取 -->
    <select id="listBuildingInfoByKey" parameterType="java.util.List" resultMap="buildingInfoResultMap">
        SELECT <include refid="buildingInfoFields"/>
        FROM building_info
        WHERE id IN
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>