<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingye.repository.ComplaintsInfoRepository">

    <!-- 数据库字段 -->
    <sql id="complaintsInfoFields">
        cp_time
        , cp_note
        , cp_yz_id
        , cp_result
        , id
        , cp_content
    </sql>

    <!-- 对象属性 -->
    <parameterMap id="complaintsInfoParameterMap" type="com.jingye.entity.ComplaintsInfo">
        <parameter property="cpTime"/>
        <parameter property="cpNote"/>
        <parameter property="cpYzId"/>
        <parameter property="cpResult"/>
        <parameter property="id"/>
        <parameter property="cpContent"/>
    </parameterMap>

    <!-- 数据库字段与对象属性映射 -->
    <resultMap id="complaintsInfoResultMap" type="com.jingye.entity.ComplaintsInfo">
        <result property="cpTime" column="cp_time" />
        <result property="cpNote" column="cp_note" />
        <result property="cpYzId" column="cp_yz_id" />
        <result property="cpResult" column="cp_result" />
        <result property="id" column="id" />
        <result property="cpContent" column="cp_content" />
    </resultMap>

    <!-- 增加 -->
    <insert id="saveComplaintsInfo" parameterMap="complaintsInfoParameterMap" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
          complaints_info( <include refid="complaintsInfoFields"/> )
        VALUES ( ? , ? , ? , ? , ? , ?);
    </insert>

    <!-- 增加多条 -->
    <insert id="saveBatchComplaintsInfo" parameterType="java.util.List">
        INSERT INTO
          complaints_info( <include refid="complaintsInfoFields"/> )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
              #{item.cpTime}
              ,#{item.cpNote}
              ,#{item.cpYzId}
              ,#{item.cpResult}
              ,#{item.id}
              ,#{item.cpContent}
            )
        </foreach>
        ;
    </insert>

    <!-- 获取所有 -->
    <select id="listComplaintsInfo" resultMap="complaintsInfoResultMap">
        SELECT
          <include refid="complaintsInfoFields"/>
        FROM complaints_info
        ORDER BY
           id DESC    </select>

    <!-- 根据条件获取多条 -->
    <select id="listComplaintsInfoByParam" parameterType="java.util.Map" resultMap="complaintsInfoResultMap">
        SELECT
          <include refid="complaintsInfoFields"/>
        FROM complaints_info
        <where>
           <if test="cpTime != null"> AND date(cp_time)=date(#{cpTime,jdbcType=TIMESTAMP}) </if>
            <if test="cpNote != null and cpNote != ''"> AND cp_note=#{cpNote} </if>
           <if test="cpYzId != null and cpYzId != ''"> AND cp_yz_id=#{cpYzId} </if>
           <if test="cpResult != null and cpResult != ''"> AND cp_result=#{cpResult} </if>
           <if test="id != null and id != ''"> AND id=#{id} </if>
           <if test="cpContent != null and cpContent != ''"> AND cp_content=#{cpContent} </if>
        </where>
        ORDER BY
           id DESC    </select>

    <!-- 根据条件删除多条 -->
    <delete id="deleteComplaintsInfoByParam" parameterMap="complaintsInfoParameterMap">
        DELETE FROM complaints_info
        <where>
          <if test="cpTime != null"> AND date(cp_time)=date(#{cpTime,jdbcType=TIMESTAMP}) </if>
          <if test="cpNote != null and cpNote != ''"> AND cp_note=#{cpNote} </if>
          <if test="cpYzId != null and cpYzId != ''"> AND cp_yz_id=#{cpYzId} </if>
          <if test="cpResult != null and cpResult != ''"> AND cp_result=#{cpResult} </if>
          <if test="id != null and id != ''"> AND id=#{id} </if>
          <if test="cpContent != null and cpContent != ''"> AND cp_content=#{cpContent} </if>
        </where>
        ;
    </delete>


    <!-- 根据主键修改 -->
    <update id="updateComplaintsInfoByKey" parameterMap="complaintsInfoParameterMap">
        UPDATE
          complaints_info
        <trim prefix="SET" prefixOverrides=",">
          <if test="cpTime != null">, cp_time=#{cpTime}</if>
          <if test="cpNote != null">, cp_note=#{cpNote}</if>
          <if test="cpYzId != null">, cp_yz_id=#{cpYzId}</if>
          <if test="cpResult != null">, cp_result=#{cpResult}</if>
          <if test="id != null">, id=#{id}</if>
          <if test="cpContent != null">, cp_content=#{cpContent}</if>
        </trim>
        <where>
          AND id=#{id}
        </where>
        ;
    </update>

    <!-- 根据主键获取 -->
    <select id="getComplaintsInfoByKey" parameterType="java.util.Map" resultMap="complaintsInfoResultMap">
        SELECT
          <include refid="complaintsInfoFields"/>
        FROM complaints_info
        <where>
          AND id=#{id}
        </where>
    </select>

    <!-- 根据主键删除 -->
    <delete id="deleteComplaintsInfoByKey" parameterType="java.util.Map">
        DELETE FROM complaints_info
        <where>
          AND id=#{id}
        </where>
        ;
    </delete>

    <!-- 根据多个主键删除多条 -->
    <delete id="deleteBatchComplaintsInfoByKey" parameterType="java.util.List">
        DELETE FROM complaints_info
          WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
        ;
    </delete>

    <!-- 根据多个主键获取 -->
    <select id="listComplaintsInfoByKey" parameterType="java.util.List" resultMap="complaintsInfoResultMap">
        SELECT <include refid="complaintsInfoFields"/>
        FROM complaints_info
        WHERE id IN
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>