<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingye.repository.EquipmentRepairRepository">

    <!-- 数据库字段 -->
    <sql id="equipmentRepairFields">
        war_content
        , war_yz_id
        , war_time
        , war_status
        , id
        , war_note
    </sql>

    <!-- 对象属性 -->
    <parameterMap id="equipmentRepairParameterMap" type="com.jingye.entity.EquipmentRepair">
        <parameter property="warContent"/>
        <parameter property="warYzId"/>
        <parameter property="warTime"/>
        <parameter property="warStatus"/>
        <parameter property="id"/>
        <parameter property="warNote"/>
    </parameterMap>

    <!-- 数据库字段与对象属性映射 -->
    <resultMap id="equipmentRepairResultMap" type="com.jingye.entity.EquipmentRepair">
        <result property="warContent" column="war_content" />
        <result property="warYzId" column="war_yz_id" />
        <result property="warTime" column="war_time" />
        <result property="warStatus" column="war_status" />
        <result property="id" column="id" />
        <result property="warNote" column="war_note" />
    </resultMap>

    <!-- 增加 -->
    <insert id="saveEquipmentRepair" parameterMap="equipmentRepairParameterMap" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
          equipment_repair( <include refid="equipmentRepairFields"/> )
        VALUES ( ? , ? , ? , ? , ? , ?);
    </insert>

    <!-- 增加多条 -->
    <insert id="saveBatchEquipmentRepair" parameterType="java.util.List">
        INSERT INTO
          equipment_repair( <include refid="equipmentRepairFields"/> )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
              #{item.warContent}
              ,#{item.warYzId}
              ,#{item.warTime}
              ,#{item.warStatus}
              ,#{item.id}
              ,#{item.warNote}
            )
        </foreach>
        ;
    </insert>

    <!-- 获取所有 -->
    <select id="listEquipmentRepair" resultMap="equipmentRepairResultMap">
        SELECT
          <include refid="equipmentRepairFields"/>
        FROM equipment_repair
        ORDER BY
           id DESC    </select>

    <!-- 根据条件获取多条 -->
    <select id="listEquipmentRepairByParam" parameterType="java.util.Map" resultMap="equipmentRepairResultMap">
        SELECT
          <include refid="equipmentRepairFields"/>
        FROM equipment_repair
        <where>
           <if test="warContent != null and warContent != ''"> AND war_content=#{warContent} </if>
           <if test="warYzId != null and warYzId != ''"> AND war_yz_id=#{warYzId} </if>
           <if test="warTime != null"> AND date(war_time)=date(#{warTime,jdbcType=TIMESTAMP}) </if>
            <if test="warStatus != null and warStatus != ''"> AND war_status=#{warStatus} </if>
           <if test="id != null and id != ''"> AND id=#{id} </if>
           <if test="warNote != null and warNote != ''"> AND war_note=#{warNote} </if>
        </where>
        ORDER BY
           id DESC    </select>

    <!-- 根据条件删除多条 -->
    <delete id="deleteEquipmentRepairByParam" parameterMap="equipmentRepairParameterMap">
        DELETE FROM equipment_repair
        <where>
          <if test="warContent != null and warContent != ''"> AND war_content=#{warContent} </if>
          <if test="warYzId != null and warYzId != ''"> AND war_yz_id=#{warYzId} </if>
          <if test="warTime != null"> AND date(war_time)=date(#{warTime,jdbcType=TIMESTAMP}) </if>
          <if test="warStatus != null and warStatus != ''"> AND war_status=#{warStatus} </if>
          <if test="id != null and id != ''"> AND id=#{id} </if>
          <if test="warNote != null and warNote != ''"> AND war_note=#{warNote} </if>
        </where>
        ;
    </delete>


    <!-- 根据主键修改 -->
    <update id="updateEquipmentRepairByKey" parameterMap="equipmentRepairParameterMap">
        UPDATE
          equipment_repair
        <trim prefix="SET" prefixOverrides=",">
          <if test="warContent != null">, war_content=#{warContent}</if>
          <if test="warYzId != null">, war_yz_id=#{warYzId}</if>
          <if test="warTime != null">, war_time=#{warTime}</if>
          <if test="warStatus != null">, war_status=#{warStatus}</if>
          <if test="id != null">, id=#{id}</if>
          <if test="warNote != null">, war_note=#{warNote}</if>
        </trim>
        <where>
          AND id=#{id}
        </where>
        ;
    </update>

    <!-- 根据主键获取 -->
    <select id="getEquipmentRepairByKey" parameterType="java.util.Map" resultMap="equipmentRepairResultMap">
        SELECT
          <include refid="equipmentRepairFields"/>
        FROM equipment_repair
        <where>
          AND id=#{id}
        </where>
    </select>

    <!-- 根据主键删除 -->
    <delete id="deleteEquipmentRepairByKey" parameterType="java.util.Map">
        DELETE FROM equipment_repair
        <where>
          AND id=#{id}
        </where>
        ;
    </delete>

    <!-- 根据多个主键删除多条 -->
    <delete id="deleteBatchEquipmentRepairByKey" parameterType="java.util.List">
        DELETE FROM equipment_repair
          WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
        ;
    </delete>

    <!-- 根据多个主键获取 -->
    <select id="listEquipmentRepairByKey" parameterType="java.util.List" resultMap="equipmentRepairResultMap">
        SELECT <include refid="equipmentRepairFields"/>
        FROM equipment_repair
        WHERE id IN
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>