<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingye.repository.ParkingSpacesRepository">

    <!-- 数据库字段 -->
    <sql id="parkingSpacesFields">
        cw_open
        , cw_close
        , cw_cost
        , cw_yz_id
        , cw_note
        , id
        , cw_id
        , cw_building_id
        , cw_area
    </sql>

    <!-- 对象属性 -->
    <parameterMap id="parkingSpacesParameterMap" type="com.jingye.entity.ParkingSpaces">
        <parameter property="cwOpen"/>
        <parameter property="cwClose"/>
        <parameter property="cwCost"/>
        <parameter property="cwYzId"/>
        <parameter property="cwNote"/>
        <parameter property="id"/>
        <parameter property="cwId"/>
        <parameter property="cwBuildingId"/>
        <parameter property="cwArea"/>
    </parameterMap>

    <!-- 数据库字段与对象属性映射 -->
    <resultMap id="parkingSpacesResultMap" type="com.jingye.entity.ParkingSpaces">
        <result property="cwOpen" column="cw_open" />
        <result property="cwClose" column="cw_close" />
        <result property="cwCost" column="cw_cost" />
        <result property="cwYzId" column="cw_yz_id" />
        <result property="cwNote" column="cw_note" />
        <result property="id" column="id" />
        <result property="cwId" column="cw_id" />
        <result property="cwBuildingId" column="cw_building_id" />
        <result property="cwArea" column="cw_area" />
    </resultMap>

    <!-- 增加 -->
    <insert id="saveParkingSpaces" parameterMap="parkingSpacesParameterMap" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
          parking_spaces( <include refid="parkingSpacesFields"/> )
        VALUES ( ? , ? , ? , ? , ? , ? , ? , ? , ?);
    </insert>

    <!-- 增加多条 -->
    <insert id="saveBatchParkingSpaces" parameterType="java.util.List">
        INSERT INTO
          parking_spaces( <include refid="parkingSpacesFields"/> )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
              #{item.cwOpen}
              ,#{item.cwClose}
              ,#{item.cwCost}
              ,#{item.cwYzId}
              ,#{item.cwNote}
              ,#{item.id}
              ,#{item.cwId}
              ,#{item.cwBuildingId}
              ,#{item.cwArea}
            )
        </foreach>
        ;
    </insert>

    <!-- 获取所有 -->
    <select id="listParkingSpaces" resultMap="parkingSpacesResultMap">
        SELECT
          <include refid="parkingSpacesFields"/>
        FROM parking_spaces
        ORDER BY
           id DESC    </select>

    <!-- 根据条件获取多条 -->
    <select id="listParkingSpacesByParam" parameterType="java.util.Map" resultMap="parkingSpacesResultMap">
        SELECT
          <include refid="parkingSpacesFields"/>
        FROM parking_spaces
        <where>
           <if test="cwOpen != null"> AND date(cw_open)=date(#{cwOpen,jdbcType=TIMESTAMP}) </if>
            <if test="cwClose != null"> AND date(cw_close)=date(#{cwClose,jdbcType=TIMESTAMP}) </if>
            <if test="cwCost != null and cwCost != ''"> AND cw_cost=#{cwCost} </if>
           <if test="cwYzId != null and cwYzId != ''"> AND cw_yz_id=#{cwYzId} </if>
           <if test="cwNote != null and cwNote != ''"> AND cw_note=#{cwNote} </if>
           <if test="id != null and id != ''"> AND id=#{id} </if>
           <if test="cwId != null and cwId != ''"> AND cw_id=#{cwId} </if>
           <if test="cwBuildingId != null and cwBuildingId != ''"> AND cw_building_id=#{cwBuildingId} </if>
           <if test="cwArea != null and cwArea != ''"> AND cw_area=#{cwArea} </if>
        </where>
        ORDER BY
           id DESC    </select>

    <!-- 根据条件删除多条 -->
    <delete id="deleteParkingSpacesByParam" parameterMap="parkingSpacesParameterMap">
        DELETE FROM parking_spaces
        <where>
          <if test="cwOpen != null"> AND date(cw_open)=date(#{cwOpen,jdbcType=TIMESTAMP}) </if>
          <if test="cwClose != null"> AND date(cw_close)=date(#{cwClose,jdbcType=TIMESTAMP}) </if>
          <if test="cwCost != null and cwCost != ''"> AND cw_cost=#{cwCost} </if>
          <if test="cwYzId != null and cwYzId != ''"> AND cw_yz_id=#{cwYzId} </if>
          <if test="cwNote != null and cwNote != ''"> AND cw_note=#{cwNote} </if>
          <if test="id != null and id != ''"> AND id=#{id} </if>
          <if test="cwId != null and cwId != ''"> AND cw_id=#{cwId} </if>
          <if test="cwBuildingId != null and cwBuildingId != ''"> AND cw_building_id=#{cwBuildingId} </if>
          <if test="cwArea != null and cwArea != ''"> AND cw_area=#{cwArea} </if>
        </where>
        ;
    </delete>


    <!-- 根据主键修改 -->
    <update id="updateParkingSpacesByKey" parameterMap="parkingSpacesParameterMap">
        UPDATE
          parking_spaces
        <trim prefix="SET" prefixOverrides=",">
          <if test="cwOpen != null">, cw_open=#{cwOpen}</if>
          <if test="cwClose != null">, cw_close=#{cwClose}</if>
          <if test="cwCost != null">, cw_cost=#{cwCost}</if>
          <if test="cwYzId != null">, cw_yz_id=#{cwYzId}</if>
          <if test="cwNote != null">, cw_note=#{cwNote}</if>
          <if test="id != null">, id=#{id}</if>
          <if test="cwId != null">, cw_id=#{cwId}</if>
          <if test="cwBuildingId != null">, cw_building_id=#{cwBuildingId}</if>
          <if test="cwArea != null">, cw_area=#{cwArea}</if>
        </trim>
        <where>
          AND id=#{id}
        </where>
        ;
    </update>

    <!-- 根据主键获取 -->
    <select id="getParkingSpacesByKey" parameterType="java.util.Map" resultMap="parkingSpacesResultMap">
        SELECT
          <include refid="parkingSpacesFields"/>
        FROM parking_spaces
        <where>
          AND id=#{id}
        </where>
    </select>

    <!-- 根据主键删除 -->
    <delete id="deleteParkingSpacesByKey" parameterType="java.util.Map">
        DELETE FROM parking_spaces
        <where>
          AND id=#{id}
        </where>
        ;
    </delete>

    <!-- 根据多个主键删除多条 -->
    <delete id="deleteBatchParkingSpacesByKey" parameterType="java.util.List">
        DELETE FROM parking_spaces
          WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
        ;
    </delete>

    <!-- 根据多个主键获取 -->
    <select id="listParkingSpacesByKey" parameterType="java.util.List" resultMap="parkingSpacesResultMap">
        SELECT <include refid="parkingSpacesFields"/>
        FROM parking_spaces
        WHERE id IN
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>