<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingye.repository.PropertyCostsRepository">

    <!-- 数据库字段 -->
    <sql id="propertyCostsFields">
        pc_bt_id
        , pc_charge
        , pc_note
        , id
    </sql>

    <!-- 对象属性 -->
    <parameterMap id="propertyCostsParameterMap" type="com.jingye.entity.PropertyCosts">
        <parameter property="pcBtId"/>
        <parameter property="pcCharge"/>
        <parameter property="pcNote"/>
        <parameter property="id"/>
    </parameterMap>

    <!-- 数据库字段与对象属性映射 -->
    <resultMap id="propertyCostsResultMap" type="com.jingye.entity.PropertyCosts">
        <result property="pcBtId" column="pc_bt_id" />
        <result property="pcCharge" column="pc_charge" />
        <result property="pcNote" column="pc_note" />
        <result property="id" column="id" />
    </resultMap>

    <!-- 增加 -->
    <insert id="savePropertyCosts" parameterMap="propertyCostsParameterMap" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
          property_costs( <include refid="propertyCostsFields"/> )
        VALUES ( ? , ? , ? , ?);
    </insert>

    <!-- 增加多条 -->
    <insert id="saveBatchPropertyCosts" parameterType="java.util.List">
        INSERT INTO
          property_costs( <include refid="propertyCostsFields"/> )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
              #{item.pcBtId}
              ,#{item.pcCharge}
              ,#{item.pcNote}
              ,#{item.id}
            )
        </foreach>
        ;
    </insert>

    <!-- 获取所有 -->
    <select id="listPropertyCosts" resultMap="propertyCostsResultMap">
        SELECT
          <include refid="propertyCostsFields"/>
        FROM property_costs
        ORDER BY
           id DESC    </select>

    <!-- 根据条件获取多条 -->
    <select id="listPropertyCostsByParam" parameterType="java.util.Map" resultMap="propertyCostsResultMap">
        SELECT
          <include refid="propertyCostsFields"/>
        FROM property_costs
        <where>
           <if test="pcBtId != null and pcBtId != ''"> AND pc_bt_id=#{pcBtId} </if>
           <if test="pcCharge != null and pcCharge != ''"> AND pc_charge=#{pcCharge} </if>
           <if test="pcNote != null and pcNote != ''"> AND pc_note=#{pcNote} </if>
           <if test="id != null and id != ''"> AND id=#{id} </if>
        </where>
        ORDER BY
           id DESC    </select>

    <!-- 根据条件删除多条 -->
    <delete id="deletePropertyCostsByParam" parameterMap="propertyCostsParameterMap">
        DELETE FROM property_costs
        <where>
          <if test="pcBtId != null and pcBtId != ''"> AND pc_bt_id=#{pcBtId} </if>
          <if test="pcCharge != null and pcCharge != ''"> AND pc_charge=#{pcCharge} </if>
          <if test="pcNote != null and pcNote != ''"> AND pc_note=#{pcNote} </if>
          <if test="id != null and id != ''"> AND id=#{id} </if>
        </where>
        ;
    </delete>


    <!-- 根据主键修改 -->
    <update id="updatePropertyCostsByKey" parameterMap="propertyCostsParameterMap">
        UPDATE
          property_costs
        <trim prefix="SET" prefixOverrides=",">
          <if test="pcBtId != null">, pc_bt_id=#{pcBtId}</if>
          <if test="pcCharge != null">, pc_charge=#{pcCharge}</if>
          <if test="pcNote != null">, pc_note=#{pcNote}</if>
          <if test="id != null">, id=#{id}</if>
        </trim>
        <where>
          AND id=#{id}
        </where>
        ;
    </update>

    <!-- 根据主键获取 -->
    <select id="getPropertyCostsByKey" parameterType="java.util.Map" resultMap="propertyCostsResultMap">
        SELECT
          <include refid="propertyCostsFields"/>
        FROM property_costs
        <where>
          AND id=#{id}
        </where>
    </select>

    <!-- 根据主键删除 -->
    <delete id="deletePropertyCostsByKey" parameterType="java.util.Map">
        DELETE FROM property_costs
        <where>
          AND id=#{id}
        </where>
        ;
    </delete>

    <!-- 根据多个主键删除多条 -->
    <delete id="deleteBatchPropertyCostsByKey" parameterType="java.util.List">
        DELETE FROM property_costs
          WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
        ;
    </delete>

    <!-- 根据多个主键获取 -->
    <select id="listPropertyCostsByKey" parameterType="java.util.List" resultMap="propertyCostsResultMap">
        SELECT <include refid="propertyCostsFields"/>
        FROM property_costs
        WHERE id IN
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>