<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingye.repository.RoomInfoRepository">

    <!-- 数据库字段 -->
    <sql id="roomInfoFields">
        id
        , rm_type_id
        , rm_rent
        , rm_yz_id
        , rm_note
        , rm_area
        , rm_id
        , rm_building_id
    </sql>

    <!-- 对象属性 -->
    <parameterMap id="roomInfoParameterMap" type="com.jingye.entity.RoomInfo">
        <parameter property="id"/>
        <parameter property="rmTypeId"/>
        <parameter property="rmRent"/>
        <parameter property="rmYzId"/>
        <parameter property="rmNote"/>
        <parameter property="rmArea"/>
        <parameter property="rmId"/>
        <parameter property="rmBuildingId"/>
    </parameterMap>

    <!-- 数据库字段与对象属性映射 -->
    <resultMap id="roomInfoResultMap" type="com.jingye.entity.RoomInfo">
        <result property="id" column="id" />
        <result property="rmTypeId" column="rm_type_id" />
        <result property="rmRent" column="rm_rent" />
        <result property="rmYzId" column="rm_yz_id" />
        <result property="rmNote" column="rm_note" />
        <result property="rmArea" column="rm_area" />
        <result property="rmId" column="rm_id" />
        <result property="rmBuildingId" column="rm_building_id" />
    </resultMap>

    <!-- 增加 -->
    <insert id="saveRoomInfo" parameterMap="roomInfoParameterMap" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
          room_info( <include refid="roomInfoFields"/> )
        VALUES ( ? , ? , ? , ? , ? , ? , ? , ?);
    </insert>

    <!-- 增加多条 -->
    <insert id="saveBatchRoomInfo" parameterType="java.util.List">
        INSERT INTO
          room_info( <include refid="roomInfoFields"/> )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
              #{item.id}
              ,#{item.rmTypeId}
              ,#{item.rmRent}
              ,#{item.rmYzId}
              ,#{item.rmNote}
              ,#{item.rmArea}
              ,#{item.rmId}
              ,#{item.rmBuildingId}
            )
        </foreach>
        ;
    </insert>

    <!-- 获取所有 -->
    <select id="listRoomInfo" resultMap="roomInfoResultMap">
        SELECT
          <include refid="roomInfoFields"/>
        FROM room_info
        ORDER BY
           id DESC    </select>

    <!-- 根据条件获取多条 -->
    <select id="listRoomInfoByParam" parameterType="java.util.Map" resultMap="roomInfoResultMap">
        SELECT
          <include refid="roomInfoFields"/>
        FROM room_info
        <where>
           <if test="id != null and id != ''"> AND id=#{id} </if>
           <if test="rmTypeId != null and rmTypeId != ''"> AND rm_type_id=#{rmTypeId} </if>
           <if test="rmRent != null and rmRent != ''"> AND rm_rent=#{rmRent} </if>
           <if test="rmYzId != null and rmYzId != ''"> AND rm_yz_id=#{rmYzId} </if>
           <if test="rmNote != null and rmNote != ''"> AND rm_note=#{rmNote} </if>
           <if test="rmArea != null and rmArea != ''"> AND rm_area=#{rmArea} </if>
           <if test="rmId != null and rmId != ''"> AND rm_id=#{rmId} </if>
           <if test="rmBuildingId != null and rmBuildingId != ''"> AND rm_building_id=#{rmBuildingId} </if>
        </where>
        ORDER BY
           id DESC    </select>

    <!-- 根据条件删除多条 -->
    <delete id="deleteRoomInfoByParam" parameterMap="roomInfoParameterMap">
        DELETE FROM room_info
        <where>
          <if test="id != null and id != ''"> AND id=#{id} </if>
          <if test="rmTypeId != null and rmTypeId != ''"> AND rm_type_id=#{rmTypeId} </if>
          <if test="rmRent != null and rmRent != ''"> AND rm_rent=#{rmRent} </if>
          <if test="rmYzId != null and rmYzId != ''"> AND rm_yz_id=#{rmYzId} </if>
          <if test="rmNote != null and rmNote != ''"> AND rm_note=#{rmNote} </if>
          <if test="rmArea != null and rmArea != ''"> AND rm_area=#{rmArea} </if>
          <if test="rmId != null and rmId != ''"> AND rm_id=#{rmId} </if>
          <if test="rmBuildingId != null and rmBuildingId != ''"> AND rm_building_id=#{rmBuildingId} </if>
        </where>
        ;
    </delete>


    <!-- 根据主键修改 -->
    <update id="updateRoomInfoByKey" parameterMap="roomInfoParameterMap">
        UPDATE
          room_info
        <trim prefix="SET" prefixOverrides=",">
          <if test="id != null">, id=#{id}</if>
          <if test="rmTypeId != null">, rm_type_id=#{rmTypeId}</if>
          <if test="rmRent != null">, rm_rent=#{rmRent}</if>
          <if test="rmYzId != null">, rm_yz_id=#{rmYzId}</if>
          <if test="rmNote != null">, rm_note=#{rmNote}</if>
          <if test="rmArea != null">, rm_area=#{rmArea}</if>
          <if test="rmId != null">, rm_id=#{rmId}</if>
          <if test="rmBuildingId != null">, rm_building_id=#{rmBuildingId}</if>
        </trim>
        <where>
          AND id=#{id}
        </where>
        ;
    </update>

    <!-- 根据主键获取 -->
    <select id="getRoomInfoByKey" parameterType="java.util.Map" resultMap="roomInfoResultMap">
        SELECT
          <include refid="roomInfoFields"/>
        FROM room_info
        <where>
          AND id=#{id}
        </where>
    </select>

    <!-- 根据主键删除 -->
    <delete id="deleteRoomInfoByKey" parameterType="java.util.Map">
        DELETE FROM room_info
        <where>
          AND id=#{id}
        </where>
        ;
    </delete>

    <!-- 根据多个主键删除多条 -->
    <delete id="deleteBatchRoomInfoByKey" parameterType="java.util.List">
        DELETE FROM room_info
          WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
        ;
    </delete>

    <!-- 根据多个主键获取 -->
    <select id="listRoomInfoByKey" parameterType="java.util.List" resultMap="roomInfoResultMap">
        SELECT <include refid="roomInfoFields"/>
        FROM room_info
        WHERE id IN
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>