<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingye.repository.RoomTypeRepository">

    <!-- 数据库字段 -->
    <sql id="roomTypeFields">
        rt_name
        , rt_note
        , rt_id
    </sql>

    <!-- 对象属性 -->
    <parameterMap id="roomTypeParameterMap" type="com.jingye.entity.RoomType">
        <parameter property="rtName"/>
        <parameter property="rtNote"/>
        <parameter property="rtId"/>
    </parameterMap>

    <!-- 数据库字段与对象属性映射 -->
    <resultMap id="roomTypeResultMap" type="com.jingye.entity.RoomType">
        <result property="rtName" column="rt_name" />
        <result property="rtNote" column="rt_note" />
        <result property="rtId" column="rt_id" />
    </resultMap>

    <!-- 增加 -->
    <insert id="saveRoomType" parameterMap="roomTypeParameterMap" keyProperty="rt_id" useGeneratedKeys="true">
        INSERT INTO
          room_type( <include refid="roomTypeFields"/> )
        VALUES ( ? , ? , ?);
    </insert>

    <!-- 增加多条 -->
    <insert id="saveBatchRoomType" parameterType="java.util.List">
        INSERT INTO
          room_type( <include refid="roomTypeFields"/> )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
              #{item.rtName}
              ,#{item.rtNote}
              ,#{item.rtId}
            )
        </foreach>
        ;
    </insert>

    <!-- 获取所有 -->
    <select id="listRoomType" resultMap="roomTypeResultMap">
        SELECT
          <include refid="roomTypeFields"/>
        FROM room_type
        ORDER BY
           rt_id DESC    </select>

    <!-- 根据条件获取多条 -->
    <select id="listRoomTypeByParam" parameterType="java.util.Map" resultMap="roomTypeResultMap">
        SELECT
          <include refid="roomTypeFields"/>
        FROM room_type
        <where>
           <if test="rtName != null and rtName != ''"> AND rt_name=#{rtName} </if>
           <if test="rtNote != null and rtNote != ''"> AND rt_note=#{rtNote} </if>
           <if test="rtId != null and rtId != ''"> AND rt_id=#{rtId} </if>
        </where>
        ORDER BY
           rt_id DESC    </select>

    <!-- 根据条件删除多条 -->
    <delete id="deleteRoomTypeByParam" parameterMap="roomTypeParameterMap">
        DELETE FROM room_type
        <where>
          <if test="rtName != null and rtName != ''"> AND rt_name=#{rtName} </if>
          <if test="rtNote != null and rtNote != ''"> AND rt_note=#{rtNote} </if>
          <if test="rtId != null and rtId != ''"> AND rt_id=#{rtId} </if>
        </where>
        ;
    </delete>


    <!-- 根据主键修改 -->
    <update id="updateRoomTypeByKey" parameterMap="roomTypeParameterMap">
        UPDATE
          room_type
        <trim prefix="SET" prefixOverrides=",">
          <if test="rtName != null">, rt_name=#{rtName}</if>
          <if test="rtNote != null">, rt_note=#{rtNote}</if>
          <if test="rtId != null">, rt_id=#{rtId}</if>
        </trim>
        <where>
          AND rt_id=#{rtId}
        </where>
        ;
    </update>

    <!-- 根据主键获取 -->
    <select id="getRoomTypeByKey" parameterType="java.util.Map" resultMap="roomTypeResultMap">
        SELECT
          <include refid="roomTypeFields"/>
        FROM room_type
        <where>
          AND rt_id=#{rtId}
        </where>
    </select>

    <!-- 根据主键删除 -->
    <delete id="deleteRoomTypeByKey" parameterType="java.util.Map">
        DELETE FROM room_type
        <where>
          AND rt_id=#{rtId}
        </where>
        ;
    </delete>

    <!-- 根据多个主键删除多条 -->
    <delete id="deleteBatchRoomTypeByKey" parameterType="java.util.List">
        DELETE FROM room_type
          WHERE rt_id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{rt_id}
        </foreach>
        ;
    </delete>

    <!-- 根据多个主键获取 -->
    <select id="listRoomTypeByKey" parameterType="java.util.List" resultMap="roomTypeResultMap">
        SELECT <include refid="roomTypeFields"/>
        FROM room_type
        WHERE rt_id IN
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
            #{rt_id}
        </foreach>
    </select>

</mapper>