package $!{classPackage}.controller;

#if($keyFields.size() > 1)
import $!{classPackage}.entity.$!{className}PK;
#end
import $!{classPackage}.entity.$!{className};
import $!{classPackage}.controller.request.$!{className}Request;
import $!{classPackage}.service.$!{className}Service;
import $!{classPackage}.util.ResponseUtil;
import $!{classPackage}.util.PageInfoUtil;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import java.util.List;
import java.math.BigDecimal;

/**
 * $!{comment}对外接口层
 *
 * @author $!{authorName}
 * @email  $!{authorEmail}
 * @date   $!{createTime}
 */
@RestController
@RequestMapping("/$!{entityName}")
public class $!{className}Controller {

    @Autowired
    $!{className}Service $!{entityName}Service;

    @RequestMapping(value = "/save$!{className}", method = RequestMethod.POST, produces="application/json;charset=UTF-8")
    @ResponseBody
    public ResponseUtil save$!{className}(@RequestBody $!{className}Request $!{entityName}Request) {
        $!{className} $!{entityName} = $!{entityName}Request.get$!{className}();
        int result = $!{entityName}Service.save$!{className}($!{entityName});
        if(result == 1) {
            return new ResponseUtil(1, "创建$!{comment}成功！", null);
        }
        return new ResponseUtil(0, "创建$!{comment}失败！", null);
    }

#if($keyFields.size() > 0)
    @RequestMapping(value = "/update$!{className}ByKey", method = RequestMethod.POST, produces="application/json;charset=UTF-8")
    @ResponseBody
    public ResponseUtil update$!{className}ByKey(@RequestBody $!{className}Request $!{entityName}Request) {
#foreach ($!{field} in $!{notNullfields})
        if($!{entityName}Request.get$!{field.filedName}() == null) {
            return new ResponseUtil(0, "$!{field.comment}不能为null！", null);
        }
#end
        $!{className} $!{entityName} = $!{entityName}Request.get$!{className}();
        int result = $!{entityName}Service.update$!{className}ByKey($!{entityName});
        if(result == 1) {
            return new ResponseUtil(1, "修改$!{comment}成功！", null);
        }
        return new ResponseUtil(0, "修改$!{comment}失败！", null);
    }

    @RequestMapping(value = "/delete$!{className}ByKey", method = RequestMethod.POST, produces="application/json;charset=UTF-8")
    @ResponseBody
    public ResponseUtil delete$!{className}ByKey(@RequestBody $!{className}Request $!{entityName}Request) {
#foreach ($!{field} in $!{keyFields})
        if($!{entityName}Request.get$!{field.filedName}() == null) {
            return new ResponseUtil(0, "$!{field.comment}不能为null！", null);
        }
#end
#if($keyFields.size() > 1)
        $!{className}PK $!{entityName}PK = new $!{className}PK();
#foreach(${field} in ${keyFields})
        $!{entityName}PK.set$!{field.filedName}($!{entityName}Request.get$!{field.filedName}());
#end
        int result = $!{entityName}Service.delete$!{className}ByKey($!{entityName}PK);
#else
        int result = $!{entityName}Service.delete$!{className}ByKey(#foreach(${field} in ${keyFields})#if($velocityCount == 1)$!{entityName}Request.get$!{field.filedName}()#else, $!{entityName}Request.get$!{field.filedName}()#end#end);
#end
        if(result > 0) {
            return new ResponseUtil(1, "删除$!{comment}成功！", null);
        }
        return new ResponseUtil(0, "删除$!{comment}失败！", null);
    }

    @RequestMapping(value = "/deleteBatch$!{className}ByKey", method = RequestMethod.POST, produces="application/json;charset=UTF-8")
    @ResponseBody
    public ResponseUtil deleteBatch$!{className}ByKey(@RequestBody $!{className}Request $!{entityName}Request) {
#if($keyFields.size() > 1)
        List<$!{className}PK> $!{entityName}PKs = $!{entityName}Request.get$!{className}PKList();
        if($!{entityName}PKs == null || $!{entityName}PKs.size() < 1) {
            return new ResponseUtil(0, "主键不能为null！", null);
        }
        int result = $!{entityName}Service.delete$!{className}ByKey($!{entityName}PKs);
#elseif($keyFields.size() == 1)
        List<$!{keyFields.get(0).type}> $!{keyFields.get(0).entityName}s = $!{entityName}Request.get$!{keyFields.get(0).filedName}List();
        if($!{keyFields.get(0).entityName}s == null || $!{keyFields.get(0).entityName}s.size() < 1) {
            return new ResponseUtil(0, "主键不能为null！", null);
        }
        int result = $!{entityName}Service.delete$!{className}ByKey($!{keyFields.get(0).entityName}s);
#end
        if(result > 0) {
            return new ResponseUtil(1, "删除$!{comment}成功！", result);
        }
        return new ResponseUtil(0, "删除$!{comment}失败！", null);
    }

    @RequestMapping(value = "/get$!{className}ByKey", method = RequestMethod.POST, produces="application/json;charset=UTF-8")
    @ResponseBody
    public ResponseUtil get$!{className}ByKey(@RequestBody $!{className}Request $!{entityName}Request) {
#foreach ($!{field} in $!{keyFields})
        if($!{entityName}Request.get$!{field.filedName}() == null) {
            return new ResponseUtil(0, "$!{field.comment}不能为null！", null);
        }
#end
#if($keyFields.size() > 1)
        $!{className}PK $!{entityName}PK = new $!{className}PK();
#foreach(${field} in ${keyFields})
        $!{entityName}PK.set$!{field.filedName}($!{entityName}Request.get$!{field.filedName}());
#end
        $!{className} $!{entityName} = $!{entityName}Service.get$!{className}ByKey($!{entityName}PK);
#else
        $!{className} $!{entityName} = $!{entityName}Service.get$!{className}ByKey(#foreach(${field} in ${keyFields})#if($velocityCount == 1)$!{entityName}Request.get$!{field.filedName}()#else, $!{entityName}Request.get$!{field.filedName}()#end#end);
#end
        return new ResponseUtil(1, "OK", $!{entityName});
    }
#end

#if($!{frame.repositoryFrame} == "MYBATIS")
    @RequestMapping(value = "/list$!{className}ByParamAndPage", method = RequestMethod.POST, produces="application/json;charset=UTF-8")
    @ResponseBody
    public ResponseUtil list$!{className}ByParamAndPage(@RequestBody $!{className}Request $!{entityName}Request) {
        int pageNum = 1, pageSize = 100;
        if($!{entityName}Request.getPageNum() != 0) {
            pageNum = $!{entityName}Request.getPageNum();
        }
        if($!{entityName}Request.getPageSize() != 0) {
            pageSize = $!{entityName}Request.getPageSize();
        }
        $!{className} $!{entityName} = $!{entityName}Request.get$!{className}();
        if($!{entityName} == null) {
            return new ResponseUtil(0, "$!{comment}不能为null！", null);
        }
        PageInfoUtil<$!{className}> $!{entityName}List = $!{entityName}Service.list$!{className}ByParamAndPage($!{entityName}, pageNum, pageSize);
        return new ResponseUtil(1, "OK", $!{entityName}List);
    }
#elseif($!{frame.repositoryFrame} == "HIBERNATE")
    @RequestMapping(value = "/list$!{className}ByParamAndPage", method = RequestMethod.POST, produces="application/json;charset=UTF-8")
    @ResponseBody
    public ResponseUtil list$!{className}(@RequestBody $!{className}Request $!{entityName}Request) {
        int pageNum = 1, pageSize = 100;
        if($!{entityName}Request.getPageNum() != 0) {
            pageNum = $!{entityName}Request.getPageNum();
        }
        if($!{entityName}Request.getPageSize() != 0) {
            pageSize = $!{entityName}Request.getPageSize();
        }
        PageInfoUtil<$!{className}> $!{entityName}List = $!{entityName}Service.list$!{className}(pageNum, pageSize);
        return new ResponseUtil(1, "OK", $!{entityName}List);
    }
#end

}
