<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingye.repository.ChargeRepository">

    <!-- 数据库字段 -->
    <sql id="chargeFields">
        charge_id
        , charge_name
        , charge_info
        , charge_money
        , charge_kind
    </sql>

    <!-- 对象属性 -->
    <parameterMap id="chargeParameterMap" type="com.jingye.entity.Charge">
        <parameter property="chargeId"/>
        <parameter property="chargeName"/>
        <parameter property="chargeInfo"/>
        <parameter property="chargeMoney"/>
        <parameter property="chargeKind"/>
    </parameterMap>

    <!-- 数据库字段与对象属性映射 -->
    <resultMap id="chargeResultMap" type="com.jingye.entity.Charge">
        <result property="chargeId" column="charge_id" />
        <result property="chargeName" column="charge_name" />
        <result property="chargeInfo" column="charge_info" />
        <result property="chargeMoney" column="charge_money" />
        <result property="chargeKind" column="charge_kind" />
    </resultMap>

    <!-- 增加 -->
    <insert id="saveCharge" parameterMap="chargeParameterMap" keyProperty="charge_id" useGeneratedKeys="true">
        INSERT INTO
          charge( <include refid="chargeFields"/> )
        VALUES ( ? , ? , ? , ? , ?);
    </insert>

    <!-- 增加多条 -->
    <insert id="saveBatchCharge" parameterType="java.util.List">
        INSERT INTO
          charge( <include refid="chargeFields"/> )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
              #{item.chargeId}
              ,#{item.chargeName}
              ,#{item.chargeInfo}
              ,#{item.chargeMoney}
              ,#{item.chargeKind}
            )
        </foreach>
        ;
    </insert>

    <!-- 获取所有 -->
    <select id="listCharge" resultMap="chargeResultMap">
        SELECT
          <include refid="chargeFields"/>
        FROM charge
        ORDER BY
           charge_id DESC    </select>

    <!-- 根据条件获取多条 -->
    <select id="listChargeByParam" parameterType="java.util.Map" resultMap="chargeResultMap">
        SELECT
          <include refid="chargeFields"/>
        FROM charge
        <where>
           <if test="chargeId != null and chargeId != ''"> AND charge_id=#{chargeId} </if>
           <if test="chargeName != null and chargeName != ''"> AND charge_name=#{chargeName} </if>
           <if test="chargeInfo != null and chargeInfo != ''"> AND charge_info=#{chargeInfo} </if>
           <if test="chargeMoney != null and chargeMoney != ''"> AND charge_money=#{chargeMoney} </if>
           <if test="chargeKind != null and chargeKind != ''"> AND charge_kind=#{chargeKind} </if>
        </where>
        ORDER BY
           charge_id DESC    </select>

    <!-- 根据条件删除多条 -->
    <delete id="deleteChargeByParam" parameterMap="chargeParameterMap">
        DELETE FROM charge
        <where>
          <if test="chargeId != null and chargeId != ''"> AND charge_id=#{chargeId} </if>
          <if test="chargeName != null and chargeName != ''"> AND charge_name=#{chargeName} </if>
          <if test="chargeInfo != null and chargeInfo != ''"> AND charge_info=#{chargeInfo} </if>
          <if test="chargeMoney != null and chargeMoney != ''"> AND charge_money=#{chargeMoney} </if>
          <if test="chargeKind != null and chargeKind != ''"> AND charge_kind=#{chargeKind} </if>
        </where>
        ;
    </delete>


    <!-- 根据主键修改 -->
    <update id="updateChargeByKey" parameterMap="chargeParameterMap">
        UPDATE
          charge
        <trim prefix="SET" prefixOverrides=",">
          <if test="chargeId != null">, charge_id=#{chargeId}</if>
          <if test="chargeName != null">, charge_name=#{chargeName}</if>
          <if test="chargeInfo != null">, charge_info=#{chargeInfo}</if>
          <if test="chargeMoney != null">, charge_money=#{chargeMoney}</if>
          <if test="chargeKind != null">, charge_kind=#{chargeKind}</if>
        </trim>
        <where>
          AND charge_id=#{chargeId}
        </where>
        ;
    </update>

    <!-- 根据主键获取 -->
    <select id="getChargeByKey" parameterType="java.util.Map" resultMap="chargeResultMap">
        SELECT
          <include refid="chargeFields"/>
        FROM charge
        <where>
          AND charge_id=#{chargeId}
        </where>
    </select>

    <!-- 根据主键删除 -->
    <delete id="deleteChargeByKey" parameterType="java.util.Map">
        DELETE FROM charge
        <where>
          AND charge_id=#{chargeId}
        </where>
        ;
    </delete>

    <!-- 根据多个主键删除多条 -->
    <delete id="deleteBatchChargeByKey" parameterType="java.util.List">
        DELETE FROM charge
          WHERE charge_id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{charge_id}
        </foreach>
        ;
    </delete>

    <!-- 根据多个主键获取 -->
    <select id="listChargeByKey" parameterType="java.util.List" resultMap="chargeResultMap">
        SELECT <include refid="chargeFields"/>
        FROM charge
        WHERE charge_id IN
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
            #{charge_id}
        </foreach>
    </select>

</mapper>