<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingye.repository.FeedbackRepository">

    <!-- 数据库字段 -->
    <sql id="feedbackFields">
        feedback_time
        , feedback_id
        , feedback_owner_id
        , feedback_info
        , feedback_note
    </sql>

    <!-- 对象属性 -->
    <parameterMap id="feedbackParameterMap" type="com.jingye.entity.Feedback">
        <parameter property="feedbackTime"/>
        <parameter property="feedbackId"/>
        <parameter property="feedbackOwnerId"/>
        <parameter property="feedbackInfo"/>
        <parameter property="feedbackNote"/>
    </parameterMap>

    <!-- 数据库字段与对象属性映射 -->
    <resultMap id="feedbackResultMap" type="com.jingye.entity.Feedback">
        <result property="feedbackTime" column="feedback_time" />
        <result property="feedbackId" column="feedback_id" />
        <result property="feedbackOwnerId" column="feedback_owner_id" />
        <result property="feedbackInfo" column="feedback_info" />
        <result property="feedbackNote" column="feedback_note" />
    </resultMap>

    <!-- 增加 -->
    <insert id="saveFeedback" parameterMap="feedbackParameterMap" keyProperty="feedback_id" useGeneratedKeys="true">
        INSERT INTO
          feedback( <include refid="feedbackFields"/> )
        VALUES ( ? , ? , ? , ? , ?);
    </insert>

    <!-- 增加多条 -->
    <insert id="saveBatchFeedback" parameterType="java.util.List">
        INSERT INTO
          feedback( <include refid="feedbackFields"/> )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
              #{item.feedbackTime}
              ,#{item.feedbackId}
              ,#{item.feedbackOwnerId}
              ,#{item.feedbackInfo}
              ,#{item.feedbackNote}
            )
        </foreach>
        ;
    </insert>

    <!-- 获取所有 -->
    <select id="listFeedback" resultMap="feedbackResultMap">
        SELECT
          <include refid="feedbackFields"/>
        FROM feedback
        ORDER BY
           feedback_id DESC    </select>

    <!-- 根据条件获取多条 -->
    <select id="listFeedbackByParam" parameterType="java.util.Map" resultMap="feedbackResultMap">
        SELECT
          <include refid="feedbackFields"/>
        FROM feedback
        <where>
           <if test="feedbackTime != null"> AND date(feedback_time)=date(#{feedbackTime,jdbcType=TIMESTAMP}) </if>
            <if test="feedbackId != null and feedbackId != ''"> AND feedback_id=#{feedbackId} </if>
           <if test="feedbackOwnerId != null and feedbackOwnerId != ''"> AND feedback_owner_id=#{feedbackOwnerId} </if>
           <if test="feedbackInfo != null and feedbackInfo != ''"> AND feedback_info=#{feedbackInfo} </if>
           <if test="feedbackNote != null and feedbackNote != ''"> AND feedback_note=#{feedbackNote} </if>
        </where>
        ORDER BY
           feedback_id DESC    </select>

    <!-- 根据条件删除多条 -->
    <delete id="deleteFeedbackByParam" parameterMap="feedbackParameterMap">
        DELETE FROM feedback
        <where>
          <if test="feedbackTime != null"> AND date(feedback_time)=date(#{feedbackTime,jdbcType=TIMESTAMP}) </if>
          <if test="feedbackId != null and feedbackId != ''"> AND feedback_id=#{feedbackId} </if>
          <if test="feedbackOwnerId != null and feedbackOwnerId != ''"> AND feedback_owner_id=#{feedbackOwnerId} </if>
          <if test="feedbackInfo != null and feedbackInfo != ''"> AND feedback_info=#{feedbackInfo} </if>
          <if test="feedbackNote != null and feedbackNote != ''"> AND feedback_note=#{feedbackNote} </if>
        </where>
        ;
    </delete>


    <!-- 根据主键修改 -->
    <update id="updateFeedbackByKey" parameterMap="feedbackParameterMap">
        UPDATE
          feedback
        <trim prefix="SET" prefixOverrides=",">
          <if test="feedbackTime != null">, feedback_time=#{feedbackTime}</if>
          <if test="feedbackId != null">, feedback_id=#{feedbackId}</if>
          <if test="feedbackOwnerId != null">, feedback_owner_id=#{feedbackOwnerId}</if>
          <if test="feedbackInfo != null">, feedback_info=#{feedbackInfo}</if>
          <if test="feedbackNote != null">, feedback_note=#{feedbackNote}</if>
        </trim>
        <where>
          AND feedback_id=#{feedbackId}
        </where>
        ;
    </update>

    <!-- 根据主键获取 -->
    <select id="getFeedbackByKey" parameterType="java.util.Map" resultMap="feedbackResultMap">
        SELECT
          <include refid="feedbackFields"/>
        FROM feedback
        <where>
          AND feedback_id=#{feedbackId}
        </where>
    </select>

    <!-- 根据主键删除 -->
    <delete id="deleteFeedbackByKey" parameterType="java.util.Map">
        DELETE FROM feedback
        <where>
          AND feedback_id=#{feedbackId}
        </where>
        ;
    </delete>

    <!-- 根据多个主键删除多条 -->
    <delete id="deleteBatchFeedbackByKey" parameterType="java.util.List">
        DELETE FROM feedback
          WHERE feedback_id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{feedback_id}
        </foreach>
        ;
    </delete>

    <!-- 根据多个主键获取 -->
    <select id="listFeedbackByKey" parameterType="java.util.List" resultMap="feedbackResultMap">
        SELECT <include refid="feedbackFields"/>
        FROM feedback
        WHERE feedback_id IN
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
            #{feedback_id}
        </foreach>
    </select>

</mapper>