<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingye.repository.OwnerRepository">

    <!-- 数据库字段 -->
    <sql id="ownerFields">
        yz_info
        , yz_phone
        , yz_name
        , yz_sex
        , yz_id
    </sql>

    <!-- 对象属性 -->
    <parameterMap id="ownerParameterMap" type="com.jingye.entity.Owner">
        <parameter property="yzInfo"/>
        <parameter property="yzPhone"/>
        <parameter property="yzName"/>
        <parameter property="yzSex"/>
        <parameter property="yzId"/>
    </parameterMap>

    <!-- 数据库字段与对象属性映射 -->
    <resultMap id="ownerResultMap" type="com.jingye.entity.Owner">
        <result property="yzInfo" column="yz_info" />
        <result property="yzPhone" column="yz_phone" />
        <result property="yzName" column="yz_name" />
        <result property="yzSex" column="yz_sex" />
        <result property="yzId" column="yz_id" />
    </resultMap>

    <!-- 增加 -->
    <insert id="saveOwner" parameterMap="ownerParameterMap" keyProperty="yz_id" useGeneratedKeys="true">
        INSERT INTO
          owner( <include refid="ownerFields"/> )
        VALUES ( ? , ? , ? , ? , ?);
    </insert>

    <!-- 增加多条 -->
    <insert id="saveBatchOwner" parameterType="java.util.List">
        INSERT INTO
          owner( <include refid="ownerFields"/> )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
              #{item.yzInfo}
              ,#{item.yzPhone}
              ,#{item.yzName}
              ,#{item.yzSex}
              ,#{item.yzId}
            )
        </foreach>
        ;
    </insert>

    <!-- 获取所有 -->
    <select id="listOwner" resultMap="ownerResultMap">
        SELECT
          <include refid="ownerFields"/>
        FROM owner
        ORDER BY
           yz_id DESC    </select>

    <!-- 根据条件获取多条 -->
    <select id="listOwnerByParam" parameterType="java.util.Map" resultMap="ownerResultMap">
        SELECT
          <include refid="ownerFields"/>
        FROM owner
        <where>
           <if test="yzInfo != null and yzInfo != ''"> AND yz_info=#{yzInfo} </if>
           <if test="yzPhone != null and yzPhone != ''"> AND yz_phone=#{yzPhone} </if>
           <if test="yzName != null and yzName != ''"> AND yz_name=#{yzName} </if>
           <if test="yzSex != null and yzSex != ''"> AND yz_sex=#{yzSex} </if>
           <if test="yzId != null and yzId != ''"> AND yz_id=#{yzId} </if>
        </where>
        ORDER BY
           yz_id DESC    </select>

    <!-- 根据条件删除多条 -->
    <delete id="deleteOwnerByParam" parameterMap="ownerParameterMap">
        DELETE FROM owner
        <where>
          <if test="yzInfo != null and yzInfo != ''"> AND yz_info=#{yzInfo} </if>
          <if test="yzPhone != null and yzPhone != ''"> AND yz_phone=#{yzPhone} </if>
          <if test="yzName != null and yzName != ''"> AND yz_name=#{yzName} </if>
          <if test="yzSex != null and yzSex != ''"> AND yz_sex=#{yzSex} </if>
          <if test="yzId != null and yzId != ''"> AND yz_id=#{yzId} </if>
        </where>
        ;
    </delete>


    <!-- 根据主键修改 -->
    <update id="updateOwnerByKey" parameterMap="ownerParameterMap">
        UPDATE
          owner
        <trim prefix="SET" prefixOverrides=",">
          <if test="yzInfo != null">, yz_info=#{yzInfo}</if>
          <if test="yzPhone != null">, yz_phone=#{yzPhone}</if>
          <if test="yzName != null">, yz_name=#{yzName}</if>
          <if test="yzSex != null">, yz_sex=#{yzSex}</if>
          <if test="yzId != null">, yz_id=#{yzId}</if>
        </trim>
        <where>
          AND yz_id=#{yzId}
        </where>
        ;
    </update>

    <!-- 根据主键获取 -->
    <select id="getOwnerByKey" parameterType="java.util.Map" resultMap="ownerResultMap">
        SELECT
          <include refid="ownerFields"/>
        FROM owner
        <where>
          AND yz_id=#{yzId}
        </where>
    </select>

    <!-- 根据主键删除 -->
    <delete id="deleteOwnerByKey" parameterType="java.util.Map">
        DELETE FROM owner
        <where>
          AND yz_id=#{yzId}
        </where>
        ;
    </delete>

    <!-- 根据多个主键删除多条 -->
    <delete id="deleteBatchOwnerByKey" parameterType="java.util.List">
        DELETE FROM owner
          WHERE yz_id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{yz_id}
        </foreach>
        ;
    </delete>

    <!-- 根据多个主键获取 -->
    <select id="listOwnerByKey" parameterType="java.util.List" resultMap="ownerResultMap">
        SELECT <include refid="ownerFields"/>
        FROM owner
        WHERE yz_id IN
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
            #{yz_id}
        </foreach>
    </select>

</mapper>