package $!{classPackage}.entity;

import java.io.Serializable;
import java.util.Date;
import com.alibaba.fastjson.JSONObject;
import com.alibaba.fastjson.annotation.JSONField;
#if($!{frame.repositoryFrame} == "HIBERNATE")
import javax.persistence.Column;
import javax.persistence.Embeddable;
#end

/**
 * $!{comment}实体类联合主键
 *
 * @author $!{authorName}
 * @email  $!{authorEmail}
 * @date   $!{createTime}
 */
#if($!{frame.repositoryFrame} == "HIBERNATE")
@Embeddable
#end
public class $!{className}PK implements Serializable {

    private static final long serialVersionUID = 1L;

    public $!{className}PK() {}

    public $!{className}PK(#foreach(${field} in ${keyFields})#if($velocityCount == 1)$!{field.type} $!{field.entityName}#else, $!{field.type} $!{field.entityName}#end#end) {
#foreach(${field} in ${keyFields})
        this.$!{field.entityName} = $!{field.entityName};
#end
    }

#foreach ($!{field} in $!{keyFields})
#if($!{field.type} == "String") #set ($vale=$!{field.filedDefault})
#elseif($!{field.type} == "Integer") #set ($vale=$!{field.filedDefault})
#elseif($!{field.type} == "Long") #set ($vale=$!{field.filedDefault}+"L")
#elseif($!{field.type} == "Float") #set ($vale=$!{field.filedDefault}+"F")
#elseif($!{field.type} == "Double") #set ($vale=$!{field.filedDefault}+"D")
#elseif($!{field.type} == "java.math.BigDecimal") #set ($vale="new java.math.BigDecimal($!{field.filedDefault})")
#end
    /**
     * $!{field.entityName} $!{field.comment}
     */
    @JSONField(name="$!{field.columnName}")
#if($!{field.type} == "Date")
    @JSONField(format="yyyy-MM-dd HH:mm:ss")
#end
#if($!{frame.repositoryFrame} == "HIBERNATE")
    @Column(name="$!{field.columnName}")
#end
    private $!{field.type} $!{field.entityName}#if($!{field.filedDefault} != "null") = #if($!{field.type} == "String")"$!{vale}"#else$!{vale}#end#end;

#end
#foreach ($!{field} in $!{keyFields})
    public void set$!{field.filedName}($!{field.type} $!{field.entityName}) {
        this.$!{field.entityName} = $!{field.entityName};
    }

    public $!{field.type} get$!{field.filedName}() {
            return $!{field.entityName};
        }

#end
    @Override
    public String toString() {
        return JSONObject.toJSONString(this);
    }
}
