window.operateEvents = {
#if($keyFields.size() == 1)
    'click .RoleOfdelete': function (e, value, row, index) {
        layer.confirm('您是否确定删除此数据？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            var $!{keyFields.get(0).columnName} = {$!{keyFields.get(0).columnName}: row.$!{keyFields.get(0).columnName}};
            $.ajax({
                type: "post",
                url: "$!{entityName}/delete$!{className}ByKey",
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify($!{keyFields.get(0).columnName}),
                dataType: "json",
                success: function(data){
                    if(data.code == 1) {
                        $("#exampleTableEvents").bootstrapTable('refresh', {url: '$!{entityName}/list$!{className}ByParamAndPage'});
                        layer.msg(data.msg, {icon: 6});
                    } else {
                        layer.msg(data.msg, {icon: 5});
                    }
                }
            });
        });
    },
#end
    'click .RoleOfshow': function (e, value, row, index) {
#foreach ($!{field} in $!{fields})
        $('#$!{entityName}-$!{field.columnName}').attr("value", row.$!{field.columnName}).attr("disabled","disabled");
#end
        layer.open({
            type: 0 //Page层类型
            ,id: 'show' //设定一个id，防止重复弹出
            ,title: "查看信息" //不显示标题栏   title : false/标题
            ,area: ['500px', '400px']
            ,shade: 0.6 //遮罩透明度
            ,maxmin: true //允许全屏最小化
            ,anim: 1 //0-6的动画形式，-1不开启
            ,content: $('#modal-form').html()
        });
    },
    'click .RoleOfedit': function (e, value, row, index) {
#foreach ($!{field} in $!{fields})
        $('#$!{entityName}-$!{field.columnName}').attr("value", row.$!{field.columnName}).removeAttr("disabled");
#end
        layer.open({
            type: 0 //Page层类型
            ,id: 'edit' //设定一个id，防止重复弹出
            ,title: "编辑信息" //不显示标题栏   title : false/标题
            ,area: ['500px', '400px']
            ,shade: 0.6 //遮罩透明度
            ,maxmin: true //允许全屏最小化
            ,anim: 1 //0-6的动画形式，-1不开启
            ,content: $('#modal-form').html()
            ,btn: ['确定', '取消']
            ,btn1: function(index, layero){
#foreach ($!{field} in $!{fields})
                var $!{field.columnName} = $(layero).find('#$!{entityName}-$!{field.columnName}').val();
#end
                var $!{entityName} = {
#foreach ($!{field} in $!{fields})
                    $!{field.columnName} : $!{field.columnName},
#end
                };
                $.ajax({
                    type: "post",
                    url: "$!{entityName}/update$!{className}ByKey",
                    contentType: 'application/json;charset=utf-8',
                    data: JSON.stringify($!{entityName}),
                    dataType: "json",
                    success: function(data){
                        if(data.code == 1) {
                            $("#exampleTableEvents").bootstrapTable('refresh', {url: '$!{entityName}/list$!{className}ByParamAndPage'});
                            layer.msg(data.msg, {icon: 6});
                        } else {
                            layer.msg(data.msg, {icon: 5});
                        }
                    }
                });
            }
        });
    }
};

function operateFormatter(value, row, index) {
    return [
        '<div style="min-width:160px;">',
        '<button type="button" class="RoleOfshow btn btn-primary  btn-sm" style="margin-right:15px;">查看</button>',
        '<button type="button" class="RoleOfedit btn btn-primary  btn-sm" style="margin-right:15px;">修改</button>',
#if($keyFields.size() == 1)
        '<button type="button" class="RoleOfdelete btn btn-primary  btn-sm" style="margin-right:15px;">删除</button>',
#end
        '</div>'
    ].join('');
}

/** 查询数据 */
function searchData() {
    layer.open({
        type: 0 //Page层类型
        ,id: 'add' //设定一个id，防止重复弹出
        ,title: "查询信息" //不显示标题栏   title : false/标题
        ,area: ['500px', '400px']
        ,shade: 0.6 //遮罩透明度
        ,maxmin: true //允许全屏最小化
        ,anim: 1 //0-6的动画形式，-1不开启
        ,content: $('#modal-form').html()
        ,btn: ['确定', '取消']
        ,btn1: function(index, layero){
#foreach ($!{field} in $!{fields})
            var $!{field.columnName} = $(layero).find('#$!{entityName}-$!{field.columnName}').val();
#end
            var opt = {
                url: "$!{entityName}/list$!{className}ByParamAndPage",
                silent: true,
                query:{
#foreach ($!{field} in $!{fields})
                    $!{field.columnName} : $!{field.columnName},
#end
                }
            };
            $("#exampleTableEvents").bootstrapTable('refresh', opt);
        }
    });
}


/** 添加数据 */
function addData() {
    layer.open({
        type: 0 //Page层类型
        ,id: 'add' //设定一个id，防止重复弹出
        ,title: "添加信息" //不显示标题栏   title : false/标题
        ,area: ['500px', '400px']
        ,shade: 0.6 //遮罩透明度
        ,maxmin: true //允许全屏最小化
        ,anim: 1 //0-6的动画形式，-1不开启
        ,content: $('#modal-form').html()
        ,btn: ['确定', '取消']
        ,btn1: function(index, layero){
#foreach ($!{field} in $!{fields})
            var $!{field.columnName} = $(layero).find('#$!{entityName}-$!{field.columnName}').val();
#end
            var $!{entityName} =
            {
#foreach ($!{field} in $!{fields})
                $!{field.columnName} : $!{field.columnName},
#end
            };
            $.ajax({
                type: "post",
                url: "$!{entityName}/save$!{className}",
                contentType: 'application/json;charset=utf-8',
                data : JSON.stringify($!{entityName}),
                dataType: "json",
                success: function(data){
                    if(data.code == 1) {
                        $("#exampleTableEvents").bootstrapTable('refresh', {url: '$!{entityName}/list$!{className}ByParamAndPage'});
                        layer.msg(data.msg, {icon: 6});
                    } else {
                        layer.msg(data.msg, {icon: 5});
                    }
                }
            });
        }
    });
}
#if($keyFields.size() == 1)
/** 批量删除数据 */
function deleteData() {
    var selectRow = $("#exampleTableEvents").bootstrapTable('getSelections');
    if(selectRow.length < 1) {
        layer.msg("请至少选择一条数据！", {icon: 5});
    } else {
        layer.confirm('您是否确定删除此数据？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            var idList = [];
            for(var i=0; i<selectRow.length; i++) {
                idList.push(selectRow[i].$!{keyFields.get(0).columnName});
            }
            $.ajax({
                type: "post",
                url: "$!{entityName}/deleteBatch$!{className}ByKey",
                contentType: 'application/json;charset=utf-8',
                data: '{ $!{keyFields.get(0).columnName}_list:'+JSON.stringify(idList)+'}',
                dataType: "json",
                success: function(data){
                    if(data.code == 1) {
                        $("#exampleTableEvents").bootstrapTable('refresh', {url: '$!{entityName}/list$!{className}ByParamAndPage'});
                        layer.msg(data.msg, {icon: 6});
                    } else {
                        layer.msg(data.msg, {icon: 5});
                    }
                }
            });
        });
    }
}
#end
(function(document, window, $) {
    'use strict';

    // Example Bootstrap Table Events
    // ------------------------------
    (function() {
        $('#exampleTableEvents').bootstrapTable({
            // url: "js/$!{entityName}.json",
            url: "$!{entityName}/list$!{className}ByParamAndPage", // 请求地址
            contentType : "application/json",   // 设置请求类型
            method : 'post',    // 设置请求方式
            dataField : "data",
            dataType:'json',    // 设置返回类型为json
            queryParamsType: "",    // 设置为 ''  在这种情况下传给服务器的参数为：pageSize,pageNumber
            queryParams:queryParams,    // 请求服务器时所传的参数
            responseHandler: function(res) {
                if(res.code == 1) {
                    return {
                        data : res.data.list,
                        total : res.data.total,
                        rows : res.data.page_size
                    };
                } else {
                    layer.alert(res.msg, {icon: 2});
                }
            },
            pageList:[10, 25, 50, 100], // 每页最大数量
            sidePagination : "server", // 服务端处理分页
            pagination:true,    // 是否显示分页条
            clickToSelect:true, // 在点击行时，自动选择 rediobox 和 checkbox
            striped : true, // 是否会有隔行变色效果
            toolbar: '#exampleTableEventsToolbar',  // 工具栏id
            showRefresh: true,  // 展示刷新
            showToggle: true,   // 是否显示切换视图（table/card）按钮
            showColumns: true,  // 是否显示内容列下拉框
            iconSize: 'outline',
            icons: {
                refresh: 'glyphicon-repeat',
                toggle: 'glyphicon-list-alt',
                columns: 'glyphicon-list'
            },
            // fixedColumns: true,
            // fixedNumber: 2,
            columns: [{ //编辑datagrid的列
                field : 'state',
                checkbox : true
            },
#foreach ($!{field} in $!{fields})
            {
                title : '$!{field.comment}',
                field : '$!{field.columnName}',
                sortable: true
            },
#end
            {
                field: 'operate',
                title: '操作',
                width :170,
                align: 'center',
                valign: "middle",
                halign: "center",
                events: operateEvents,
                formatter: operateFormatter
            }

            ]
        });

        //请求服务数据时所传参数
        function queryParams(params){
            return{
                //每页多少条数据
                page_size: params.pageSize,
                //请求第几页
                page_num:params.pageNumber,
            }
        }

    })();

})(document, window, jQuery);

